# Import

In [1]:
train = pd.read_csv('datasets/train.csv', na_values = "", keep_default_na = False)
train

NameError: name 'pd' is not defined

# Prediction & Submission

In [74]:
## load test data
test = pd.read_csv('datasets/test.csv', na_values = "", keep_default_na = False)
test

,Order,PID,MS SubClass,MS Zoning,Lot Frontage,Lot Area,Street,Alley,Lot Shape,Land Contour,...,Screen Porch,Pool Area,Pool QC,Fence,Misc Feature,Misc Val,Mo Sold,Yr Sold,Sale Type,Sale Condition
0,2127,907135180,20,RL,60.0,8070,Pave,NaN,Reg,Lvl,...,0,0,NaN,NaN,NaN,0,8,2007,WD,Normal
1,193,903206120,75,RL,NaN,7793,Pave,NaN,IR1,Bnk,...,0,0,NaN,NaN,NaN,0,5,2010,WD,Normal
2,2407,528181040,120,RL,40.0,6792,Pave,NaN,IR1,Lvl,...,0,0,NaN,NaN,NaN,0,3,2006,New,Partial
3,46,528175010,120,RL,44.0,6371,Pave,NaN,IR1,Lvl,...,0,0,NaN,NaN,NaN,0,6,2010,New,Partial
4,2478,531379030,60,RL,70.0,8304,Pave,NaN,IR1,Lvl,...,0,0,NaN,GdPrv,NaN,0,7,2006,WD,Normal
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
728,453,528174060,120,RL,34.0,5381,Pave,NaN,IR1,Lvl,...,0,0,NaN,NaN,NaN,0,8,2009,WD,Normal
729,1352,903400180,50,RL,64.0,13053,Pave,Pave,Reg,Bnk,...,220,0,NaN,NaN,NaN,0,6,2008,WD,Normal
730,197,903227150,50,RM,53.0,6360,Pave,NaN,Reg,Lvl,...,148,0,NaN,NaN,NaN,0,3,2010,WD,Normal
731,2850,909250070,70,RL,43.0,7000,Pave,NaN,Reg,Lvl,...,0,0,NaN,MnPrv,NaN,0,5,2006,WD,Normal
732,2869,909425180,20,RL,80.0,12984,Pave,NaN,Reg,Bnk,...,0,0,NaN,NaN,NaN,0,3,2006,WD,Normal

In [81]:
preds_test = idiot_model(test)
preds_test[:10]

[100, 100, 100, 100, 100, 100, 100, 100, 100, 100]

In [82]:
## create dataframe with "Order" and prediction
pred_df = pd.DataFrame({'Order':test['Order'], 'SalePrice':preds_test})
pred_df

     Order  SalePrice
0     2127        100
1      193        100
2     2407        100
3       46        100
4     2478        100
..     ...        ...
728    453        100
729   1352        100
730    197        100
731   2850        100
732   2869        100

[733 rows x 2 columns]

In [60]:
## save to csv file for submission
## index = False
pred_df.to_csv('submission.csv', index=False)